<?xml version="1.0" encoding="UTF-8"?>
<plugin id="phonegap-yandexads" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>phonegap-yandexads</name>
    <description>Phonegap Yandex Ads</description>
    <license>Apache 2.0</license>
    <keywords>Phonegap,Yandex Ads</keywords>
    <js-module src="www/yandexads.js" name="yandexads">
        <clobbers target="yandexads" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="YandexAds">
                <param name="android-package" value="org.apache.cordova.yandexads.YandexAds" />
            </feature>
        </config-file>
        <source-file src="src/android/YandexAds.java" target-dir="src/org/apache/cordova/yandexads" />
    </platform>
</plugin>
